---
// Components
import SignatureSection from "./SignatureSection.astro";
import WeatherPill from "../WeatherPill.astro";
import PersonalImage from "../PersonalImage.astro";
import Subtitle from "../Subtitle.astro";
---

<div class="personal-container">
  <div class="personal-text">
    <Subtitle title="On the People Side" />
    <p>
      Outside of work, I like to watch dark psychological thrillers. Watch
      soccer games and baking shows. I enjoy time away from my keyboard by
      playing with my kid and talking walks with my dog.
    </p>
    <p>
      I live in the East Coast of the USA with my wife and its <WeatherPill /> where we are. 
      I am happy to enjoy the every day. While working very hard for my family.
    </p>
  </div>
  <PersonalImage />
</div>

<SignatureSection />

<style lang="scss">
  @import "../../styles/base/_breakpoints.scss";

  .personal-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-base);
    align-items: center;
    justify-content: center;

    @include tablet {
      grid-template-columns: 1fr;
    }

    .personal-text {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-base);

      @include tablet {
        margin-bottom: var(--spacing-base);
      }
    }
  }
</style>

