---
import { Image } from "astro:assets";
import Subtitle from "../Subtitle.astro";

const philosophyItems = [
  {
    digits: "01",
    title: "Ideas can come from anywhere",
    description:
      "Don't let ego get in the way. Be the champion where people feel comfortable bringing ideas forth.",
  },
  {
    digits: "02",
    title: "Become fast, but be diligent",
    description:
      "Work as fast as you can to understand the problem and deliver a worthwhile solution.",
  },
  {
    digits: "03",
    title: "Design should be accessible to everyone",
    description:
      "It's the right thing and it makes your product feel more human.",
  },
  {
    digits: "04",
    title: "Play and plan for the long game",
    description:
      "Go further than building delight. Think of the long term and how your solution can grow.",
  },
];
---

  <!-- Start -->
  <Subtitle title="My Design Philosophy" />
  <div class="split-container">
    {
      philosophyItems.map(({ digits, title, description }) => (
        <div class="column">
          <div class="digits">{digits}</div>
          <div class="text-content">
            <h4>{title}</h4>
            <p>{description}</p>
          </div>
        </div>
      ))
    }
  </div>
  <!-- End -->


<style lang="scss">
  .split-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-base);
    padding-top: var(--spacing-base);

    @include tablet {
      grid-template-columns: 1fr;
    }

    .column {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-base);
      padding: 0 0 var(--spacing-base);
      border-bottom: 1px solid var(--color-border);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      .digits {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
        color: var(--color-ink-tertiary);
        font-family: var(--font-mono);
        border-radius: 6px;
        background-color: var(--color-surface);

        width: 40px;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px;
        height: 40px;
        transition: all 0.3s ease-in-out;
      }

      .text-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);

        padding-top: var(--spacing-small);

        h4 {
          margin-bottom: var(--spacing-xxs);
        }
      }

      &:hover {
        .digits {
          background-color: var(--color-ink-tertiary);
          color: var(--color-paper);
        }
      }
    }
  }
</style>
