---
import { Image } from "astro:assets";
import Subtitle from "../Subtitle.astro";

const philosophyItems = [
  {
    digits: "01",
    title: "Ideas can come from anywhere",
    description:
      "Don't let ego get in the way. Be the champion where people feel comfortable bringing ideas forth.",
  },
  {
    digits: "02",
    title: "Become fast, but be diligent",
    description:
      "Work as fast as you can to understand the problem and deliver a worthwhile solution.",
  },
  {
    digits: "03",
    title: "Design should be accessible to everyone",
    description:
      "It's the right thing and it makes your product feel more human.",
  },
  {
    digits: "04",
    title: "Play and plan for the long game",
    description:
      "Go further than building delight. Think of the long term and how your solution can grow.",
  },
];
---

  <!-- Start -->
  <Subtitle title="My Design Philosophy" />
  <div class="split-container pt-10 gap-5 grid grid-cols-1 md:grid-cols-2">
    {
      philosophyItems.map(({ digits, title, description }) => (
        <div class="column flex gap-5 pb-5 border-b border-border dark:border-chocolate-light transition-all duration-300 ease-in-out cursor-pointer group">
          <h5 class="digits text-sm flex items-center justify-center w-10 h-10 rounded-md bg-surface dark:bg-ink-secondary transition-all duration-300 ease-in-out group-hover:bg-ink-tertiary group-hover:text-paper">{digits}</h5>
          <div class="text-content flex-1 flex flex-col gap-3 py-3">
            <h4>{title}</h4>
            <p>{description}</p>
          </div>
        </div>
      ))
    }
  </div>
  <!-- End -->
