---
import { Image } from "astro:assets";
import Subtitle from "../Subtitle.astro";
import hand from "../../assets/illustrations/hand.svg";

const philosophyItems = [
  {
    icon: hand,
    title: "Ideas can come from anywhere",
    description:
      "Don't let ego get in the way. Be the champion where people feel comfortable bringing ideas forth.",
  },
  {
    icon: hand,
    title: "Become fast, but be diligent",
    description:
      "Work as fast as you can to understand the problem and deliver a worthwhile solution.",
  },
  {
    icon: hand,
    title: "Design should be accessible to everyone",
    description:
      "It's the right thing and it makes your product feel more human.",
  },
  {
    icon: hand,
    title: "Play and plan for the long game",
    description:
      "Go further than building delight. Think of the long term and how your solution can grow.",
  },
];
---

<div class="section-container">
  <Subtitle title="My Design Philosophy" />
  <div class="split-container">
    {
      philosophyItems.map(({ icon, title, description }) => (
        <div class="column">
          <div class="art-content">
            <Image src={icon} alt={title} />
          </div>
          <div class="text-content">
            <h4>{title}</h4>
            <p>{description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  .split-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-base);
    padding-top: var(--spacing-base);

    @include tablet {
      grid-template-columns: 1fr;
    }

    .column {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-small);
      padding: var(--spacing-small);

      border-bottom: 1px solid var(--color-border);

      .art-content {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px;
        height: 40px;
      }

      .text-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);

        padding-top: var(--spacing-small);

        h4 {
          margin-bottom: var(--spacing-xxs);
        }
      }
    }
  }
</style>
