---
import { Image } from "astro:assets";
import signature from "../../assets/brand/life-is-good.svg";
---

<div class="flex justify-center items-center mt-40">
  <Image src={signature} alt="Signature" draggable={false} loading="lazy" class="w-full max-w-[400px] h-auto dark:opacity-25" />
</div>
