---
import { Image } from "astro:assets";
import Subtitle from "../Subtitle.astro";

const skillsItems = [
  {
    title: "Full-Stack Product Builder",
    description:
      "I have worn every R&D hat though my career. Product Manager, Designer, and now curious front-end developer.",
  },
  {
    title: "Strategic Business Partner",
    description:
      "I once was part of a team of 2 in a startup where I learned the meaning of truly acting like an owner. I know the pains of low MRRs and high churn.",
  },
  {
    title: "Systems Thinker",
    description:
      "I’ve worked for startups of all sizes across many categories. Specializing in technical and complex products.",
  },
  {
    title: "Designer Super IC",
    description:
      "I will never not want to touch pixels. Design is my new art tool, but I have often been placed in positions of leadership to upskill teams.",
  },
];
---

<!-- Start -->
  <Subtitle title="Some of My Skills" />
  <div class="split-container">
    {
      skillsItems.map(({ title, description }) => (
        <div class="column">
          <div class="text-content">
            <h4>{title}</h4>
            <p>{description}</p>
          </div>
        </div>
      ))
    }
  </div>
<!-- End -->

<style lang="scss">
  .split-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-base);
    padding-top: var(--spacing-base);

    @include tablet {
      grid-template-columns: 1fr;
    }

    .column {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-small);
      padding: var(--spacing-base);
      background-color: var(--color-surface);
      border-radius: var(--border-radius-base);

      .art-content {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px;
        height: 40px;
      }

      .text-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);

        padding-top: var(--spacing-small);

        h4 {
          margin-bottom: var(--spacing-xxs);
        }
      }
    }
  }
</style>
