---
import { Image } from "astro:assets";
import Subtitle from "../Subtitle.astro";

const skillsItems = [
  {
    title: "Full-Stack Product Builder",
    description:
      "I have worn every R&D hat though my career. Product Manager, Designer, and now curious front-end developer.",
  },
  {
    title: "Strategic Business Partner",
    description:
      "I once was part of a team of 2 in a startup where I learned the meaning of truly acting like an owner. I know the pains of low MRRs and high churn.",
  },
  {
    title: "Systems Thinker",
    description:
      "I've worked for startups of all sizes across many categories. Specializing in technical and complex products.",
  },
  {
    title: "Designer Super IC",
    description:
      "I will never not want to touch pixels. Design is my new art tool, but I have often been placed in positions of leadership to upskill teams.",
  },
];
---

<section class="skills-section">
  <Subtitle title="Some of My Skills" />
  <div class="skills-list mt-10 flex flex-col gap-10">
    {
      skillsItems.map(({ title, description }) => (
        <div
          class="skill-item relative p-10 bg-surface dark:bg-ink-secondary border-2 border-coffee cursor-pointer transition-all duration-300 ease-in-out group hover:bg-surface dark:hover:bg-ink-secondary"
          data-skill-item
        >
          <div class="absolute left-0 top-0 flex h-full w-full justify-between pointer-events-none group-hover:-mt-[5px]">
            <span class="relative h-5 w-5 -ml-0.5 -mt-0.5 bg-paper border-2 border-coffee transition-all duration-300 ease-in-out group-hover:bg-coffee group-hover:scale-120 group-hover:border-0 group-hover:-ml-2.5 group-hover:-mt-1.5" />
            <span class="relative h-5 w-5 -mr-0.5 -mt-0.5 bg-paper border-2 border-coffee transition-all duration-300 ease-in-out group-hover:bg-coffee group-hover:scale-120 group-hover:border-0 group-hover:-mr-2.5 group-hover:-mt-1.5" />
          </div>
          
          <h4 class="m-0 mb-4 font-headings text-chocolate">{title}</h4>
          <p class="m-0">{description}</p>
          
          <div class="absolute left-0 top-[calc(100%-20px)] flex h-full w-full justify-between pointer-events-none group-hover:mt-[5px]">
            <span class="relative h-5 w-5 -ml-0.5 mt-0.5 bg-paper border-2 border-coffee transition-all duration-300 ease-in-out group-hover:bg-coffee group-hover:scale-120 group-hover:border-0 group-hover:-ml-2.5 group-hover:mt-1.5" />
            <span class="relative h-5 w-5 -mr-0.5 mt-0.5 bg-paper border-2 border-coffee transition-all duration-300 ease-in-out group-hover:bg-coffee group-hover:scale-120 group-hover:border-0 group-hover:-mr-2.5 group-hover:mt-1.5" />
          </div>
        </div>
      ))
    }
  </div>
</section>
