---
interface Props {
  columns?: number;
}

const { columns = 2 } = Astro.props;
---

<div class="snippets-gallery-wrapper w-[90%] mx-auto max-w-[1220px]" style="container-type: inline-size;">
  <div class={`snippets-gallery grid grid-cols-1 gap-5 container-[inline-size] ${columns === 3 ? 'columns-3' : ''}`}>
    <slot />
  </div>
</div>

<style>
  @container (min-width: 880px) {
    .snippets-gallery {
      grid-template-columns: repeat(2, 1fr);
    }

    .snippets-gallery.columns-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
