---
// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";

// Components
import Divider from "../components/Divider.astro";
import Atom from "../components/Atom.astro";

// Data
const bookingLink =
  "https://cal.com/karina-tovar-djofxs/quick-chat?month=2025-01&date=2025-01-28";
---

<BaseLayout
  title="Karina Tovar - 404"
  description="Karina Tovar is a Lead Product Designer."
  includeNavigation={false}
  includeFooter={false}
>
  <div class="section-container">
    <Atom size="140px" />
    <h1>Sorry</h1>
    <p>I'm afraid this page might not exist.</p>
    <a class="action-link" href="/">Take me back</a>
  </div>
</BaseLayout>

<style lang="scss">
  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: var(--spacing-quad);

    h1 {
      margin: var(--spacing-double) 0 var(--spacing-base);
    }

    p {
      font-size: var(--font-size-huge);
      margin-bottom: var(--spacing-base);
    }
  }
</style>
