---
// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";

// Components
import Divider from "../components/Divider.astro";
import Atom from "../components/Atom.astro";
---

<BaseLayout
  title="Karina Tovar - 404"
  description="Karina Tovar is a Lead Product Designer."
  includeNavigation={false}
  includeFooter={false}
>
  <div
    class="w-full h-screen flex flex-col items-center justify-center text-center"
  >
    <a href="/"><Atom size="140px" /></a>
    <h1 class="my-10 mx-5">Sorry</h1>
    <p class="mb-5 text-lg">I'm afraid this page might not exist.</p>
    <a class="action-link" id="backButton" href="/">Take me back</a>
  </div>
</BaseLayout>

<script>
  // Get the back button element
  const backButton = document.getElementById("backButton");

  // Get the last visited URL from sessionStorage
  const lastVisitedUrl = sessionStorage.getItem("lastVisitedUrl");
  console.log("Retrieved URL from session:", lastVisitedUrl);

  // If we have a last visited URL
  if (lastVisitedUrl) {
    console.log("Setting back button href to:", lastVisitedUrl);
    backButton?.setAttribute("href", lastVisitedUrl);
  } else {
    console.log("No valid last URL found, using home page");
  }
</script>
