---
// Components
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

// Assets
import loop from "../assets/scribbles/loop.svg";

// Partials
import PhilosophySection from "../components/_partials/PhilosophySection.astro";
import SelfCard from "../components/_partials/SelfCard.astro";
import SkillsSection from "../components/_partials/SkillsSection.astro";
import PersonalSection from "../components/_partials/PersonalSection.astro";
---

<BaseLayout
  title="Karina Tovar | About Me"
  description="Karina Tovar is a Lead Product Designer."
>
  <!-- About Me Top -->
  <div class="grid-container" data-intersection-observer={true}>
    <div class="grid-content">
      <div class="text-content">
        <h2>About Me</h2>
        <h1>Building joyful high-tech solutions</h1>
        <p>
          I am an artist, turned product designer, who likes to code and make
          things. That just means that I am obsessed over how technology can be
          used to make people truly happier. One pixel, one bit, one thought at
          a time.
        </p>
      </div>
    </div>

    <div class="visual">
      <Image src={loop} alt="Loop" loading="eager" />
    </div>
  </div>

  <!-- Currently -->
  <div class="section-container">
    <div class="cards-container">
      <div class="card">
        <h5>currently</h5>
        <p>Tropic App</p>
      </div>
      <div class="card">
        <h5>role</h5>
        <p>Lead Product Designer</p>
      </div>
      <div class="card">
        <h5>location</h5>
        <p>East Coast, USA</p>
      </div>
    </div>
  </div>

  <!-- Spacer -->
  <div class="spacer-large"></div>

  <!-- Philosophy -->
  <div class="section-container">
    <PhilosophySection />
  </div>

  <!-- Spacer -->
  <div class="spacer-large"></div>

  <!-- Thesis -->
  <div class="section-container">
    <div class="thesis-container">
      <SelfCard showTags={true} />
      <div class="thesis-text">
        <div>
          <p>
            As a designer, I want to build a world where each person is not
            called a user, but seen as a breathing human being who just wants to
            feel safe, secure, connected, cared for and happy.
          </p>
          <p>
            These are things that are constantly in my mind as a designer.
            Specially now as a parent. All I want for my kid and everyone else
            is joy and the hope for a prosperous future.
          </p>
        </div>
        <div>
          <p>
            Products that build for happiness will ultimately be successful. The
            reason, people pay money for a solution is to have an easier life
            managing their day to day.
          </p>
          <p>
            Whether that is writing Purchase Orders. Analyzing trends in their
            revenue. Understanding their workforce’s morale, etc... your
            customer’s happiness is your success.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Spacer -->
  <div class="spacer-large"></div>

  <!-- Skills -->
  <div class="section-container">
    <SkillsSection />
  </div>

  <!-- Spacer -->
  <div class="spacer-huge"></div>

  <!-- Personal -->
  <div class="section-container">
    <PersonalSection />
  </div>
</BaseLayout>

<style lang="scss">
  // Breakpoint mixins
  @import "../styles/base/_breakpoints.scss";

  // Visual section
  .visual {
  }

  // Cards container
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-base);

    @include tablet {
      grid-template-columns: 1fr;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      background-color: var(--color-surface);
      padding: var(--spacing-small);
      border-radius: var(--spacing-small);

      h5 {
        font-size: var(--font-size-xxs);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-family: var(--font-sans);
        margin: 4px 0;
      }
    }
  }

  .thesis-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    align-items: center;
    justify-content: center;

    .thesis-text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing-base);

      @include tablet {
        grid-template-columns: 1fr;
        gap: 0;
      }

      p {
        margin: 0 0 var(--spacing-base);
      }
    }
  }
</style>
