---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Test" description="Test">
  <div class="bg-primary text-white h-[2000px] bg-red-500">
    <h1>Hello</h1>
  </div>
</MainLayout>
