---
interface Props {
  include_classes?: string;
  size?: string;
}

const { 
  include_classes = "", 
  size = "60px" 
} = Astro.props;
---

<div class={`atom-container ${include_classes}`} style={`width: ${size}; height: ${size};`}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="140"
    height="140"
    viewBox="0 0 140 140"
    fill="none"
    class="atom"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M84.2411 119.618C87.6329 107.336 89.7459 90.3012 89.7459 71.4366C89.7459 52.5721 87.6329 35.5369 84.2411 23.255C82.5429 17.1056 80.5423 12.2158 78.3717 8.89131C76.1682 5.51656 73.9893 4.0435 72.0004 4.0435C70.0115 4.0435 67.8325 5.51656 65.6291 8.89131C63.4585 12.2158 61.4579 17.1056 59.7597 23.255C56.3679 35.5369 54.2549 52.5721 54.2549 71.4366C54.2549 90.3012 56.3679 107.336 59.7597 119.618C61.4579 125.768 63.4585 130.657 65.6291 133.982C67.8325 137.357 70.0115 138.83 72.0004 138.83C73.9893 138.83 76.1682 137.357 78.3717 133.982C80.5423 130.657 82.5429 125.768 84.2411 119.618ZM72.0004 140.026C82.4617 140.026 90.9422 109.318 90.9422 71.4366C90.9422 33.5557 82.4617 2.84717 72.0004 2.84717C61.5391 2.84717 53.0586 33.5557 53.0586 71.4366C53.0586 109.318 61.5391 140.026 72.0004 140.026Z"
      fill="#544339"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M71.3545 121.145C77.8095 110.159 84.2595 94.2512 89.142 76.0295C94.0245 57.8077 96.3925 40.8061 96.2951 28.0649C96.2463 21.6855 95.5795 16.4445 94.3433 12.6715C93.0884 8.84141 91.3649 6.85459 89.4438 6.33982C87.5226 5.82504 85.0367 6.68397 82.0349 9.37343C79.0777 12.0229 75.8798 16.2283 72.6479 21.7286C66.1929 32.7141 59.7429 48.6219 54.8604 66.8437C49.9779 85.0654 47.6099 102.067 47.7073 114.808C47.7561 121.188 48.4229 126.429 49.6591 130.202C50.914 134.032 52.6375 136.019 54.5586 136.533C56.4798 137.048 58.9657 136.189 61.9675 133.5C64.9247 130.85 68.1226 126.645 71.3545 121.145ZM54.249 137.689C64.3538 140.396 80.4933 112.929 90.2976 76.3391C100.102 39.7489 99.8582 7.89184 89.7534 5.18425C79.6486 2.47667 63.5091 29.9439 53.7048 66.5341C43.9006 103.124 44.1442 134.981 54.249 137.689Z"
      fill="#544339"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M58.5101 119.283C67.5884 110.343 77.9359 96.6465 87.3681 80.3093C96.8004 63.9722 103.488 48.1627 106.692 35.8304C108.296 29.6558 109.008 24.4208 108.79 20.4564C108.569 16.4321 107.419 14.0669 105.697 13.0724C103.974 12.0779 101.351 12.2642 97.7549 14.0851C94.2128 15.8789 90.0354 19.1133 85.49 23.5897C76.4118 32.5302 66.0643 46.2266 56.632 62.5638C47.1998 78.901 40.5121 94.7104 37.3086 107.043C35.7046 113.217 34.9922 118.452 35.2098 122.417C35.4307 126.441 36.5811 128.806 38.3036 129.801C40.0261 130.795 42.6496 130.609 46.2452 128.788C49.7873 126.994 53.9647 123.76 58.5101 119.283ZM37.7054 130.837C46.7652 136.067 69.4638 113.713 88.4042 80.9075C107.345 48.1017 115.354 17.267 106.295 12.0364C97.235 6.80571 74.5364 29.1598 55.596 61.9656C36.6556 94.7715 28.6457 125.606 37.7054 130.837Z"
      fill="#544339"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M46.5855 114.162C57.6684 107.875 71.2082 97.3237 84.5474 83.9845C97.8866 70.6452 108.438 57.1054 114.724 46.0224C117.872 40.4733 119.915 35.6011 120.731 31.7154C121.559 27.7711 121.06 25.1887 119.653 23.7823C118.247 22.3759 115.665 21.8768 111.72 22.7051C107.835 23.521 102.962 25.564 97.4134 28.7114C86.3305 34.9976 72.7907 45.5492 59.4515 58.8885C46.1123 72.2277 35.5607 85.7676 29.2745 96.8505C26.1271 102.4 24.0841 107.272 23.2682 111.157C22.4399 115.102 22.939 117.684 24.3454 119.091C25.7518 120.497 28.3342 120.996 32.2785 120.168C36.1642 119.352 41.0364 117.309 46.5855 114.162ZM23.4995 119.937C30.8967 127.334 58.6075 111.616 85.3933 84.8304C112.179 58.0445 127.897 30.3337 120.499 22.9364C113.102 15.5391 85.3913 31.2567 58.6055 58.0426C31.8198 84.8284 16.1023 112.539 23.4995 119.937Z"
      fill="#544339"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M36.3945 106.128C48.7268 102.925 64.5362 96.237 80.8733 86.8047C97.2104 77.3725 110.907 67.025 119.847 57.9466C124.324 53.4012 127.558 49.2238 129.352 45.6817C131.173 42.0861 131.359 39.4626 130.365 37.7401C129.37 36.0176 127.005 34.8671 122.981 34.6463C119.016 34.4287 113.781 35.1411 107.607 36.745C95.2743 39.9486 79.4649 46.6363 63.1278 56.0686C46.7907 65.5008 33.0943 75.8484 24.1538 84.9267C19.6774 89.4721 16.443 93.6495 14.6492 97.1916C12.8283 100.787 12.6421 103.411 13.6366 105.133C14.631 106.856 16.9962 108.006 21.0205 108.227C24.985 108.445 30.2199 107.732 36.3945 106.128ZM12.6005 105.731C17.8311 114.791 48.6657 106.781 81.4714 87.8408C114.277 68.9003 136.631 46.2017 131.401 37.1419C126.17 28.0822 95.3354 36.0921 62.5296 55.0325C29.7239 73.973 7.36988 96.6716 12.6005 105.731Z"
      fill="#544339"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M28.6284 95.7308C41.3696 95.8283 58.3711 93.4602 76.5928 88.5777C94.8145 83.6952 110.722 77.2452 121.708 70.7902C127.208 67.5583 131.414 64.3603 134.063 61.4032C136.752 58.4013 137.611 55.9154 137.097 53.9942C136.582 52.0731 134.595 50.3497 130.765 49.0947C126.992 47.8585 121.751 47.1917 115.372 47.1429C102.63 47.0455 85.6288 49.4135 67.4071 54.296C49.1854 59.1785 33.2776 65.6285 22.2921 72.0835C16.7918 75.3155 12.5864 78.5134 9.937 81.4706C7.24755 84.4724 6.38862 86.9583 6.90339 88.8795C7.41816 90.8007 9.40499 92.5241 13.235 93.779C17.0081 95.0152 22.249 95.6821 28.6284 95.7308ZM5.74784 89.1891C8.45541 99.294 40.3124 99.5376 76.9025 89.7333C113.493 79.929 140.96 63.7895 138.252 53.6846C135.545 43.5798 103.688 43.3361 67.0975 53.1404C30.5074 62.9447 3.04026 79.0843 5.74784 89.1891Z"
      fill="#544339"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M23.8191 83.6777C36.1009 87.0695 53.1361 89.1825 72.0006 89.1825C90.8651 89.1825 107.9 87.0695 120.182 83.6777C126.331 81.9795 131.221 79.9789 134.546 77.8083C137.92 75.6048 139.394 73.4259 139.394 71.437C139.394 69.448 137.92 67.2691 134.546 65.0657C131.221 62.895 126.331 60.8945 120.182 59.1962C107.9 55.8044 90.8651 53.6914 72.0006 53.6914C53.1361 53.6914 36.1009 55.8044 23.8191 59.1962C17.6698 60.8944 12.78 62.895 9.45547 65.0657C6.08073 67.2691 4.60766 69.448 4.60766 71.437C4.60766 73.4259 6.08073 75.6048 9.45547 77.8083C12.78 79.9789 17.6698 81.9795 23.8191 83.6777ZM3.41134 71.437C3.41134 81.8983 34.1198 90.3788 72.0006 90.3788C109.881 90.3788 140.59 81.8983 140.59 71.437C140.59 60.9757 109.881 52.4951 72.0006 52.4951C34.1198 52.4951 3.41134 60.9757 3.41134 71.437Z"
      fill="#544339"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M22.2918 70.7901C33.2773 77.2451 49.1851 83.6951 67.4068 88.5776C85.6285 93.4601 102.63 95.8282 115.371 95.7307C121.751 95.6819 126.992 95.0151 130.765 93.7789C134.595 92.524 136.581 90.8005 137.096 88.8794C137.611 86.9582 136.752 84.4723 134.063 81.4705C131.413 78.5133 127.208 75.3154 121.708 72.0834C110.722 65.6284 94.8142 59.1784 76.5925 54.2959C58.3708 49.4134 41.3692 47.0453 28.6281 47.1428C22.2487 47.1916 17.0078 47.8584 13.2347 49.0946C9.40468 50.3495 7.41786 52.073 6.90309 53.9941C6.38832 55.9153 7.24725 58.4012 9.9367 61.403C12.5861 64.3602 16.7915 67.5581 22.2918 70.7901ZM5.74754 53.6845C3.03996 63.7893 30.5071 79.9289 67.0972 89.7332C103.687 99.5375 135.544 99.2938 138.252 89.189C140.959 79.0842 113.492 62.9446 76.9022 53.1403C40.3121 43.336 8.45511 43.5797 5.74754 53.6845Z"
      fill="#544339"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M24.1534 57.947C33.0939 67.0253 46.7903 77.3728 63.1274 86.8051C79.4646 96.2374 95.2739 102.925 107.606 106.129C113.781 107.733 119.016 108.445 122.98 108.227C127.005 108.007 129.37 106.856 130.364 105.134C131.359 103.411 131.172 100.788 129.351 97.192C127.558 93.6499 124.323 89.4724 119.847 84.927C110.906 75.8487 97.21 65.5012 80.8729 56.069C64.5358 46.6367 48.7264 39.949 36.3941 36.7454C30.2195 35.1414 24.9846 34.4291 21.0201 34.6467C16.9958 34.8675 14.6306 36.018 13.6362 37.7405C12.6417 39.4629 12.828 42.0865 14.6488 45.6821C16.4426 49.2242 19.677 53.4016 24.1534 57.947ZM12.6001 37.1423C7.36949 46.2021 29.7235 68.9007 62.5293 87.8412C95.335 106.782 126.17 114.792 131.4 105.732C136.631 96.672 114.277 73.9734 81.4711 55.0329C48.6653 36.0924 17.8308 28.0826 12.6001 37.1423Z"
      fill="#544339"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M29.2758 46.0228C35.562 57.1057 46.1136 70.6456 59.4528 83.9848C72.792 97.3241 86.3318 107.876 97.4147 114.162C102.964 117.309 107.836 119.352 111.722 120.168C115.666 120.996 118.248 120.497 119.655 119.091C121.061 117.685 121.56 115.102 120.732 111.158C119.916 107.272 117.873 102.4 114.726 96.8508C108.439 85.7679 97.8879 72.2281 84.5487 58.8888C71.2095 45.5496 57.6697 34.998 46.5868 28.7118C41.0377 25.5643 36.1655 23.5213 32.2798 22.7054C28.3355 21.8772 25.7531 22.3763 24.3468 23.7827C22.9404 25.1891 22.4412 27.7714 23.2695 31.7158C24.0854 35.6015 26.1284 40.4737 29.2758 46.0228ZM23.5008 22.9367C16.1036 30.334 31.8211 58.0449 58.6069 84.8307C85.3926 111.617 113.103 127.334 120.501 119.937C127.898 112.54 112.18 84.8287 85.3946 58.0429C58.6088 31.2571 30.898 15.5395 23.5008 22.9367Z"
      fill="#544339"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M37.309 35.8308C40.5125 48.1631 47.2002 63.9725 56.6325 80.3097C66.0647 96.6469 76.4122 110.343 85.4905 119.284C90.0359 123.76 94.2133 126.995 97.7554 128.788C101.351 130.609 103.975 130.796 105.697 129.801C107.419 128.807 108.57 126.441 108.791 122.417C109.008 118.453 108.296 113.218 106.692 107.043C103.488 94.7108 96.8008 78.9013 87.3685 62.5642C77.9363 46.227 67.5888 32.5305 58.5106 23.5901C53.9652 19.1136 49.7878 15.8792 46.2457 14.0854C42.65 12.2645 40.0265 12.0783 38.304 13.0728C36.5816 14.0672 35.4311 16.4324 35.2103 20.4568C34.9927 24.4212 35.705 29.6562 37.309 35.8308ZM37.7059 12.0367C28.6462 17.2674 36.656 48.102 55.5964 80.9079C74.5368 113.714 97.2354 136.068 106.295 130.837C115.355 125.606 107.345 94.7718 88.4046 61.966C69.4642 29.1602 46.7656 6.80607 37.7059 12.0367Z"
      fill="#544339"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M47.7063 28.0656C47.6089 40.8068 49.9769 57.8084 54.8594 76.0302C59.7419 94.2519 66.1919 110.16 72.6469 121.145C75.8788 126.646 79.0768 130.851 82.0339 133.5C85.0357 136.19 87.5217 137.049 89.4428 136.534C91.364 136.019 93.0874 134.032 94.3423 130.202C95.5786 126.429 96.2454 121.188 96.2942 114.809C96.3916 102.068 94.0236 85.0662 89.1411 66.8444C84.2586 48.6227 77.8086 32.7148 71.3536 21.7293C68.1217 16.229 64.9237 12.0236 61.9666 9.37415C58.9648 6.68469 56.4788 5.82577 54.5577 6.34054C52.6365 6.85532 50.9131 8.84214 49.6582 12.6722C48.4219 16.4452 47.7551 21.6862 47.7063 28.0656ZM54.248 5.18497C44.1432 7.89255 43.8996 39.7497 53.7039 76.3398C63.5081 112.93 79.6476 140.397 89.7525 137.69C99.8573 134.982 100.101 103.125 90.2966 66.5348C80.4924 29.9446 64.3529 2.47739 54.248 5.18497Z"
      fill="#544339"></path>
  </svg>
</div>

<style lang="scss">
  .atom-container {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-in-out;
  }

  .atom {
    width: 100%;
    height: 100%;
    transform-origin: center;
    animation: scale-up 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
  }

  .atom path {
    transform-origin: center;
    animation: spin-clockwise 10s linear infinite;
  }

  @keyframes scale-up {
    from {
      transform: scale(0.05);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes spin-clockwise {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
