---
interface Props {
  title: string;
  tags: string[];
  startedDate?: Date;
  publishDate?: Date;
  status: string;
}

const { title, tags, startedDate, publishDate, status } = Astro.props;
const isDev = import.meta.env.PUBLIC_SHOW_DRAFTS;
---

<div class="post-header flex flex-col !pt-10">
  <h4>{tags.includes("notebook") ? "Notebook" : "Thought"}</h4>
  <h1 class="my-5">{title}</h1>
  <h5 class="post-meta">
    {
      startedDate &&
        `Started: ${startedDate.toLocaleDateString("en-US", { 
          month: "short", 
          day: "numeric", 
          year: "numeric" 
        })}`
    }
    {startedDate && publishDate && <span>&nbsp;·&nbsp;</span>}
    {
      publishDate &&
        `${startedDate ? 'Updated' : 'Posted'}: ${publishDate.toLocaleDateString("en-US", { 
          month: "short", 
          day: "numeric", 
          year: "numeric" 
        })}`
    }
  </h5>
</div>
