---
import { personalInfo } from "../data/metadata";
import Tooltip from "./elements/Tooltip.astro";

const social = [
  { name: "LinkedIn", url: personalInfo.social.linkedin.url },
  { name: "GitHub", url: personalInfo.social.github.url },
  { name: "Threads", url: personalInfo.social.threads.url },
];
---

<footer class="footer-wrapper">
  <div class="footer-content">
    <span class="footer-copyright"
      >© Karina Tovar {new Date().getFullYear()}</span
    >
    <div class="footer-links">
      {
        social.map((platform, index) => (
          <>
            <a href={platform.url} target="_blank" rel="noopener noreferrer">
              {platform.name}
            </a>
            {index < social.length - 1 && <span>·</span>}
          </>
        ))
      }
    </div>
  </div>
  <div class="footer-colophon">
    <Tooltip text="Colophon">
      <div class="tooltip-wrapper">
        <p>
          This website was coded with love, sweat, and tears by yours truly using
          AstroJs, TypeScript, and Tailwind CSS.
          <br /><br />
          I'm using Instrument Serif, Instrument Sans and EB Garamond as fonts.
          The color palette is inspired by the smell of cholocate cookies.
        </p>
      </div>
    </Tooltip>
    <span>·</span>
    <a href="/share">Share Site</a>
  </div>
</footer>

<style lang="scss">
  .footer-wrapper {
    width: 100%;
    max-width: var(--content-narrow-plus);
    padding: var(--spacing-base) var(--spacing-base) var(--spacing-small);
    margin: var(--spacing-double) auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: var(--font-size-small);

    @include tablet {
      flex-direction: column;
      gap: var(--spacing-base);
      align-items: flex-start;
    }
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-base);

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .footer-copyright {
    font-weight: 600;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

  .footer-links a:hover {
    text-decoration: underline !important;
  }

  .tooltip-wrapper {
    width: fit-content;
    min-width: 300px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-base);

    p {
      flex: 1;
      margin: 0;
    }
  }
</style>
