---
import { personalInfo } from "../data/metadata";
import Tooltip from "./elements/Tooltip.astro";

const social = [
  { name: "LinkedIn", url: personalInfo.social.linkedin.url },
  { name: "GitHub", url: personalInfo.social.github.url },
  { name: "Threads", url: personalInfo.social.threads.url },
];
---

<footer class="w-full p-10 mt-10">
  <div
    class="container mx-auto flex flex-col md:flex-row md:items-center justify-between gap-4"
  >
    <div
      class="flex flex-col sm:flex-row sm:items-center gap-4 font-mono uppercase caramel-text"
    >
      <span class="font-medium">© Karina Tovar {new Date().getFullYear()}</span
      >
      <div class="flex flex-col sm:flex-row sm:items-center gap-2">
        {
          social.map((platform, index) => (
            <>
              <a
                class="hover:underline hover:underline-offset-4 hover:decoration-ink"
                href={platform.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                {platform.name}
              </a>
              {index < social.length - 1 && (
                <span class="hidden sm:inline">·</span>
              )}
            </>
          ))
        }
      </div>
    </div>
    <div class="flex flex-col sm:flex-row sm:items-center gap-2">
      <Tooltip text="Colophon">
        <div class="tooltip-wrapper">
          <p>
            This website was built with sweat, a few tears, but mostly
            love—crafted by yours truly using AstroJS, TypeScript, Supabase,
            Resend, and a sprinkle of Cursor’s magic.<br /><br />
            The color palette? Inspired by the cozy scent of hot chocolate and freshly
            baked cookies on a crisp winter night.
          </p>
        </div>
      </Tooltip>
      <span class="hidden sm:inline">&nbsp;·&nbsp;</span>
      <a
        class="hover:underline hover:underline-offset-4 hover:decoration-ink font-mono uppercase caramel-text"
        href="/share-the-joy">Have a Minute of Joy</a
      >
    </div>
  </div>
</footer>

<style lang="scss">
  .tooltip-wrapper {
    width: fit-content;
    min-width: 300px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-base);

    p {
      flex: 1;
      margin: 0;
    }
  }
</style>
