---
interface Props {
  include_classes?: string;
  size?: string;
}

const { include_classes = "", size = "60px" } = Astro.props;
---

<div class={`logo-container p-4 bg-surface rounded-full dark:bg-ink-secondary ${include_classes}`} style={`width: ${size}; height: ${size};`}>
  <!-- Light mode logo -->
  <div class="dark:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 258 297" fill="none" class="logo logo-default">
      <path d="M140.5 150.5C140.5 190.822 134.362 227.261 124.487 253.564C119.547 266.721 113.702 277.264 107.287 284.492C100.871 291.72 94.0118 295.5 87.0002 295.5C79.9887 295.5 73.1299 291.72 66.7136 284.492C60.2987 277.264 54.4532 266.721 49.5137 253.564C39.6387 227.261 33.5002 190.822 33.5002 150.5C33.5002 110.178 39.6387 73.7393 49.5137 47.4361C54.4532 34.2789 60.2987 23.7356 66.7136 16.5084C73.1299 9.27964 79.9887 5.5 87.0002 5.5C94.0118 5.5 100.871 9.27964 107.287 16.5084C113.702 23.7356 119.547 34.2789 124.487 47.4361C134.362 73.7393 140.5 110.178 140.5 150.5Z" stroke="#B29483" stroke-width="6" class="path-1"/>
      <path d="M184.312 149.312C155.8 177.825 125.694 199.25 100.112 210.866C87.3156 216.677 75.727 219.999 66.0806 220.573C56.432 221.148 48.9096 218.97 43.9516 214.012C38.9937 209.055 36.8164 201.532 37.3909 191.884C37.9653 182.237 41.2872 170.648 47.0979 157.852C58.7145 132.27 80.1396 102.164 108.652 73.6518C137.164 45.1395 167.27 23.7144 192.852 12.0978C205.649 6.28708 217.237 2.96521 226.884 2.39084C236.532 1.81635 244.055 3.9936 249.013 8.95153C253.971 13.9095 256.148 21.4319 255.573 31.0805C254.999 40.7269 251.677 52.3156 245.866 65.1118C234.25 90.6936 212.825 120.8 184.312 149.312Z" stroke="#B29483" stroke-width="6" class="path-2"/>
      <path d="M101.379 229.427C66.8068 208.673 38.7247 184.656 21.2552 162.652C12.5168 151.645 6.48566 141.207 3.59085 131.987C0.695342 122.766 0.984809 114.94 4.59353 108.928C8.20224 102.916 14.9729 98.9812 24.4731 97.2005C33.9711 95.4202 46.0194 95.8348 59.8424 98.3714C87.4767 103.443 121.878 116.934 156.449 137.687C191.021 158.44 219.103 182.457 236.573 204.461C245.311 215.468 251.342 225.906 254.237 235.126C257.133 244.348 256.843 252.174 253.234 258.185C249.626 264.197 242.855 268.132 233.355 269.913C223.857 271.693 211.809 271.279 197.986 268.742C170.351 263.671 135.95 250.18 101.379 229.427Z" stroke="#B29483" stroke-width="6" class="path-3"/>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 254 295" fill="none" class="logo logo-hover">
      <g style="mix-blend-mode:multiply">
        <path d="M96.6357 208.183C120.91 197.16 149.343 177.259 176.658 150.778C169.387 145.678 161.712 140.686 153.686 135.868C128.109 120.514 102.656 109.146 79.9909 102.211C64.6582 121.211 52.805 139.966 45.1896 156.737C41.6849 164.455 39.1029 171.698 37.4816 178.309C49.7878 190.317 64.7397 202.476 81.7323 213.998C86.4526 212.486 91.4363 210.544 96.6357 208.183Z" fill="#B29483"/>
        <path d="M155.23 133.296C163.482 138.249 171.371 143.389 178.841 148.645C179.575 147.923 180.307 147.196 181.039 146.464C209.675 117.828 231.144 87.6363 242.758 62.0609C248.57 49.2624 251.844 37.771 252.408 28.2979C252.972 18.8204 250.818 11.7288 246.231 7.14181C241.644 2.55485 234.552 0.400324 225.075 0.964631C215.602 1.52868 204.11 4.80309 191.312 10.6148C165.736 22.2285 135.545 43.6978 106.909 72.3338C97.8761 81.3663 89.5567 90.5536 82.0346 99.702C104.682 106.753 129.925 118.106 155.23 133.296Z" fill="#B29483"/>
        <path d="M126.019 50.4886C115.944 20.2523 101.243 1.19879 84.871 1.19879C62.0021 1.19879 42.3932 38.376 34.0978 91.2782C46.7931 91.1984 62.0957 93.7573 78.9301 98.7576C86.726 89.2087 95.3775 79.6223 104.787 70.2125C111.796 63.2038 118.903 56.6157 126.019 50.4886Z" fill="#B29483"/>
        <path d="M34.2559 205.117C42.6402 257.488 62.1461 294.199 84.871 294.199C101.494 294.199 116.394 274.557 126.479 243.511C117.183 238.935 107.747 233.8 98.3018 228.13C92.4273 224.604 86.7368 220.983 81.2504 217.293C62.8543 222.922 48.0056 222.188 39.5953 213.777C37.206 211.388 35.4363 208.479 34.2559 205.117Z" fill="#B29483"/>
        <path d="M84.8856 216.114C112.187 206.767 146.538 184.246 179.149 152.54C202.133 168.946 220.925 186.377 233.852 202.661C242.574 213.646 248.523 223.98 251.36 233.015C254.198 242.053 253.826 249.439 250.496 254.987C247.165 260.535 240.822 264.336 231.51 266.081C222.203 267.826 210.286 267.434 196.489 264.903C168.919 259.843 134.496 246.358 99.8459 225.558C94.7105 222.475 89.7193 219.321 84.8856 216.114Z" fill="#B29483"/>
        <path d="M36.7145 181.743C48.4087 192.993 62.3469 204.321 78.0383 215.109C72.5606 216.644 67.4781 217.559 62.8727 217.833C53.3952 218.398 46.3036 216.243 41.7166 211.656C37.1297 207.069 34.9752 199.977 35.5395 190.5C35.7034 187.746 36.0965 184.821 36.7145 181.743Z" fill="#B29483"/>
        <path d="M76.887 101.284C55.3232 128.197 40.6362 154.66 35.0099 175.864C29.253 170.088 24.1202 164.359 19.6794 158.765C10.9577 147.779 5.00893 137.446 2.17221 128.411C-0.665777 119.372 -0.294408 111.987 3.03623 106.439C6.36686 100.891 12.7101 97.0902 22.0217 95.3448C31.3291 93.6002 43.2461 93.9915 57.0427 96.5233C63.3275 97.6766 69.9684 99.2677 76.887 101.284Z" fill="#B29483"/>
      </g>
    </svg>
  </div>

  <!-- Dark mode logo -->
  <div class="hidden dark:block">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 258 297" fill="none" class="logo logo-default">
      <path d="M140.5 150.5C140.5 190.822 134.362 227.261 124.487 253.564C119.547 266.721 113.702 277.264 107.287 284.492C100.871 291.72 94.0118 295.5 87.0002 295.5C79.9887 295.5 73.1299 291.72 66.7136 284.492C60.2987 277.264 54.4532 266.721 49.5137 253.564C39.6387 227.261 33.5002 190.822 33.5002 150.5C33.5002 110.178 39.6387 73.7393 49.5137 47.4361C54.4532 34.2789 60.2987 23.7356 66.7136 16.5084C73.1299 9.27964 79.9887 5.5 87.0002 5.5C94.0118 5.5 100.871 9.27964 107.287 16.5084C113.702 23.7356 119.547 34.2789 124.487 47.4361C134.362 73.7393 140.5 110.178 140.5 150.5Z" stroke="#FFF" stroke-width="6" class="path-1"/>
      <path d="M184.312 149.312C155.8 177.825 125.694 199.25 100.112 210.866C87.3156 216.677 75.727 219.999 66.0806 220.573C56.432 221.148 48.9096 218.97 43.9516 214.012C38.9937 209.055 36.8164 201.532 37.3909 191.884C37.9653 182.237 41.2872 170.648 47.0979 157.852C58.7145 132.27 80.1396 102.164 108.652 73.6518C137.164 45.1395 167.27 23.7144 192.852 12.0978C205.649 6.28708 217.237 2.96521 226.884 2.39084C236.532 1.81635 244.055 3.9936 249.013 8.95153C253.971 13.9095 256.148 21.4319 255.573 31.0805C254.999 40.7269 251.677 52.3156 245.866 65.1118C234.25 90.6936 212.825 120.8 184.312 149.312Z" stroke="#FFF" stroke-width="6" class="path-2"/>
      <path d="M101.379 229.427C66.8068 208.673 38.7247 184.656 21.2552 162.652C12.5168 151.645 6.48566 141.207 3.59085 131.987C0.695342 122.766 0.984809 114.94 4.59353 108.928C8.20224 102.916 14.9729 98.9812 24.4731 97.2005C33.9711 95.4202 46.0194 95.8348 59.8424 98.3714C87.4767 103.443 121.878 116.934 156.449 137.687C191.021 158.44 219.103 182.457 236.573 204.461C245.311 215.468 251.342 225.906 254.237 235.126C257.133 244.348 256.843 252.174 253.234 258.185C249.626 264.197 242.855 268.132 233.355 269.913C223.857 271.693 211.809 271.279 197.986 268.742C170.351 263.671 135.95 250.18 101.379 229.427Z" stroke="#FFF" stroke-width="6" class="path-3"/>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 254 295" fill="none" class="logo logo-hover">
      <g style="mix-blend-mode:multiply">
        <path d="M96.6357 208.183C120.91 197.16 149.343 177.259 176.658 150.778C169.387 145.678 161.712 140.686 153.686 135.868C128.109 120.514 102.656 109.146 79.9909 102.211C64.6582 121.211 52.805 139.966 45.1896 156.737C41.6849 164.455 39.1029 171.698 37.4816 178.309C49.7878 190.317 64.7397 202.476 81.7323 213.998C86.4526 212.486 91.4363 210.544 96.6357 208.183Z" fill="#FFF"/>
        <path d="M155.23 133.296C163.482 138.249 171.371 143.389 178.841 148.645C179.575 147.923 180.307 147.196 181.039 146.464C209.675 117.828 231.144 87.6363 242.758 62.0609C248.57 49.2624 251.844 37.771 252.408 28.2979C252.972 18.8204 250.818 11.7288 246.231 7.14181C241.644 2.55485 234.552 0.400324 225.075 0.964631C215.602 1.52868 204.11 4.80309 191.312 10.6148C165.736 22.2285 135.545 43.6978 106.909 72.3338C97.8761 81.3663 89.5567 90.5536 82.0346 99.702C104.682 106.753 129.925 118.106 155.23 133.296Z" fill="#FFF"/>
        <path d="M126.019 50.4886C115.944 20.2523 101.243 1.19879 84.871 1.19879C62.0021 1.19879 42.3932 38.376 34.0978 91.2782C46.7931 91.1984 62.0957 93.7573 78.9301 98.7576C86.726 89.2087 95.3775 79.6223 104.787 70.2125C111.796 63.2038 118.903 56.6157 126.019 50.4886Z" fill="#FFF"/>
        <path d="M34.2559 205.117C42.6402 257.488 62.1461 294.199 84.871 294.199C101.494 294.199 116.394 274.557 126.479 243.511C117.183 238.935 107.747 233.8 98.3018 228.13C92.4273 224.604 86.7368 220.983 81.2504 217.293C62.8543 222.922 48.0056 222.188 39.5953 213.777C37.206 211.388 35.4363 208.479 34.2559 205.117Z" fill="#FFF"/>
        <path d="M84.8856 216.114C112.187 206.767 146.538 184.246 179.149 152.54C202.133 168.946 220.925 186.377 233.852 202.661C242.574 213.646 248.523 223.98 251.36 233.015C254.198 242.053 253.826 249.439 250.496 254.987C247.165 260.535 240.822 264.336 231.51 266.081C222.203 267.826 210.286 267.434 196.489 264.903C168.919 259.843 134.496 246.358 99.8459 225.558C94.7105 222.475 89.7193 219.321 84.8856 216.114Z" fill="#FFF"/>
        <path d="M36.7145 181.743C48.4087 192.993 62.3469 204.321 78.0383 215.109C72.5606 216.644 67.4781 217.559 62.8727 217.833C53.3952 218.398 46.3036 216.243 41.7166 211.656C37.1297 207.069 34.9752 199.977 35.5395 190.5C35.7034 187.746 36.0965 184.821 36.7145 181.743Z" fill="#FFF"/>
        <path d="M76.887 101.284C55.3232 128.197 40.6362 154.66 35.0099 175.864C29.253 170.088 24.1202 164.359 19.6794 158.765C10.9577 147.779 5.00893 137.446 2.17221 128.411C-0.665777 119.372 -0.294408 111.987 3.03623 106.439C6.36686 100.891 12.7101 97.0902 22.0217 95.3448C31.3291 93.6002 43.2461 93.9915 57.0427 96.5233C63.3275 97.6766 69.9684 99.2677 76.887 101.284Z" fill="#FFF"/>
      </g>
    </svg>
  </div>
</div>

<style lang="scss">
  .logo-container {
    display: inline-block;
    position: relative;
  }

  .logo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* Default (outlined) logo styles */
  .logo-default {
    opacity: 1;
    animation: fadeOutAfterDraw 0.5s ease 2s forwards;
  }

  .logo-default path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 2s ease forwards;
  }

  .logo-default .path-1 {
    animation-delay: 0s;
  }

  .logo-default .path-2 {
    animation-delay: 0.5s;
  }

  .logo-default .path-3 {
    animation-delay: 1s;
  }

  /* Hover (filled) logo styles */
  .logo-hover {
    opacity: 0;
    transition: transform 0.3s ease;
  }

  /* Initial animations */
  .logo-hover {
    animation: initialAppear 0.5s ease 2.5s forwards;
  }

  /* Animations */
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fadeOutAfterDraw {
    to {
      opacity: 0;
    }
  }

  @keyframes initialAppear {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* Hover effect */
  .logo-container {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  :root {
    --logo-color: #B29483;
  }

  :root.dark {
    --logo-color: #FFF;
  }
</style>
