---
// Components
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import CaseStudyHeader from "../../components/work/CaseStudyHeader.astro";
import { getCaseStudy } from "../../data/case-study-details";
import CaseStudyShowcase from "../../components/work/CaseStudyShowcase.astro";

//Assets
import scribble from "../../assets/scribbles/loop-down.svg";
import showcaseImage from "../../assets/case-studies/tropic/tropic-supplier-index.png";
import showcaseBackground from "../../assets/backgrounds/bg02.png";
import showcaseLogo from "../../assets/icons/cv-tropic.png";

// Data
const caseStudy = getCaseStudy("beyondContracts");
---

<BaseLayout title={caseStudy.title} description={caseStudy.description}>
  <!-- Case Study Header -->
  <CaseStudyHeader {...caseStudy} />

  <CaseStudyShowcase
    background={showcaseBackground}
    caption={{
      icon: showcaseLogo,
      title: "What is Tropic?",
      description: "Tropic is an intake-to-procure platform that helps companies of all sizes—from startups to enterprises like OpenAI—manage their supplier relationships and reduce unnecessary spending."
    }}>
    <Image
      src={showcaseImage}
      alt="show case image"
      draggable="false"
      width={1220}
      priority
    />
  </CaseStudyShowcase>

  <!-- Spacer -->
  <div class="spacer-small"></div>

  <!-- Case Study Content -->
  <div class="section-container">here</div>
</BaseLayout>

<style lang="scss">
  // Breakpoint mixins
  @use "../../styles/base/_breakpoints.scss" as *;

</style>

