// Breakpoint mixins
@use "../base/_breakpoints.scss" as *;

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--side-padding);
}

.content-container {
  max-width: var(--content-width);
  margin: 0 auto;
}

// Section container
.section-container {
  width: 100%;
  max-width: var(--content-narrow-plus);
  margin: 0 auto;
  padding: var(--spacing-base);
  position: relative;
}

// Grid container
.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--spacing-base);
  max-width: var(--content-narrow-plus);
  margin: 0 auto;
  padding: var(--spacing-base);
  position: relative;
  
  @include tablet {
    grid-template-columns: 1fr;
    padding: var(--spacing-base);
  }
  
  @include mobile {
    padding: var(--spacing-base);
    }
  }
  
// Content area
.grid-content {
  .text-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);

    h2 {
      margin-bottom: var(--spacing-base);
    }

    h1 {
      margin-bottom: var(--spacing-small);
    }
  }
}

.attached-image {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
  justify-content: center;
  align-items: center;

  margin: var(--spacing-double) 0;

  img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-base);
  }

  figcaption {
    font-size: var(--font-size-small);
    text-align: left;
    width: 100%;
  }
}