---
interface Props {
  label?: string;
  caption?: string;
  className?: string;
}

const { label, caption, className } = Astro.props;
---

<div class:list={["plate-wrapper", className]}>
  {label && <span class="plate-label">{label}</span>}
  <figure class="plate-content">
    <slot />
  </figure>
  {caption && <figcaption class="plate-caption">{caption}</figcaption>}
</div>

<style lang="scss">
  .plate-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;

    .plate-content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }
</style>

