---
import { Image } from "astro:assets";

interface DataCluster {
  icon: ImageMetadata;
  title: string;
  description: string;
}

interface Props {
  clusters: DataCluster[];
}

const { clusters } = Astro.props;
---

<div class="flex flex-col gap-4 mt-4">
  {
    clusters.map((cluster, index) => (
      <div class="flex flex-col md:flex-row gap-2 md:gap-8 items-start pl-0 sm:pl-10 md:pl-0 relative md:relative">
        <Image
          class="w-6 md:min-w-12 absolute md:static left-0 top-0 md:-mt-3 block sm:block hidden"
          src={cluster.icon}
          alt="Data Cluster Icon"
          width={60}
        />
        <div class="flex flex-row items-start gap-2 md:gap-4 max-w-full min-w-full md:max-w-[160px] md:min-w-[160px] text-2xl">
          <div class="relative w-3 h-3 min-w-3 min-h-3 mt-2 md:mt-3 bg-accent-light rounded-full max-md:mr-1 max-md:-ml-1 max-md:mt-3">
            {index !== clusters.length - 1 && (
              <div class="absolute w-[1px] h-[80px] md:h-[100px] bg-border top-[14px] left-[5px] max-md:hidden" />
            )}
          </div>
          <p class="text-xl md:text-2xl">{cluster.title}</p>
        </div>
        <p class="text-base ml-5 md:ml-2 md:mt-2">{cluster.description}</p>
      </div>
    ))
  }
</div>
