h1,
h2,
h3,
h4 {
  font-family: var(--font-serif);
  line-height: var(--line-height-tight);
  font-weight: 400;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4.75rem);
  font-family: var(--font-headings);
  margin-bottom: var(--spacing-base);
  line-height: 1;
  letter-spacing: -0.035em;
}

h1.mega {
  font-size: clamp(8rem, 5vw, 4rem);
  line-height: .9;
  
  @media (max-width: 768px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: clamp(1.25rem, 4vw, 1.75rem);
  margin-bottom: var(--spacing-base);
}

h3 {
  font-size: clamp(1rem, 3vw, 1.25rem);
  margin-bottom: var(--spacing-base);

  &.title-heading {
      font-size: 14px;
      font-weight: 600;
      font-family: var(--font-mono);
      text-transform: uppercase;
      letter-spacing: 0.25em;
      color: var(--color-coffee);
      margin-bottom: var(--spacing-small);
    }
}

h4 {
  font-size: clamp(.8rem, 3vw, 1.1rem);
  margin-bottom: var(--spacing-base);
  font-weight: 500;
}

p {
  margin-bottom: var(--spacing-base);
  line-height: 1.8;
  max-width: var(--content-width);
}


h3 + p {
  margin-top: var(--spacing-small) !important;
}

ol li, ul li {
  line-height: 1.8;
}

strong {
  font-weight: 600;
}

strong.highlighted {
  background-color: #fbe8cc;
  padding: 4px 2px;
  border-radius: 2px;
  color: var(--color-ink-secondary);
}

strong.highlighted.green {
  background-color: #dff2c8;
}

strong.highlighted.red {
  background-color: #FF5722;
  color: var(--color-paper);
}

.plate-label,
.plate-caption {
  color: var(--color-ink-tertiary);
  width: fit-content;
  margin: var(--spacing-base) auto;
  text-align: center;
}

.plate-caption {
  font-size: var(--font-size-small);
  font-weight: 500;
  font-style: italic;
}

.prose {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: var(--spacing-base);
  }

  h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-family: var(--font-headings);
    margin-top: var(--spacing-quad);
    padding-top: var(--spacing-double);
    position: relative;
    &::before {
      content: "";
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 82px;
      height: 6px;
      position: absolute;
      top: 0px;
      left: 0;
      background-image: url("/assets/swash.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:first-of-type {
      margin-top: 0;
    }

    & + h3 {
      margin-top: var(--spacing-double);
    }
  }

  h3 {
    color: var(--color-ink-tertiary);
    font-family: var(--font-headings);
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin-top: var(--spacing-base);
  }

  p {
    margin-bottom: var(--spacing-base);

    & + h3 {
      margin-top: var(--spacing-double);
    }
  }


  code:not(pre code) {
    font-family: var(--font-body);
    line-height: var(--line-height-tight);
    font-weight: 400;

    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--color-surface);
    color: var(--color-ink);
  }

  pre {
    position: relative;
    
    &[data-language]:before {
      content: attr(data-language);
      position: fixed;
      top: 20px;
      left: 24px;
      font-size: 12px;
      color: var(--color-ink);
      text-transform: uppercase;
      font-family: var(--font-sans);
      font-weight: 600;
      letter-spacing: 0.025em;
      z-index: 1;
      opacity: 0.5;

      @media (max-width: 768px) {
        display: none;
      }
    }

    margin: var(--spacing-double) 0;
    border: 1px solid var(--color-lines);
    border-top: 6px solid var(--color-lines);
    border-radius: 0 0 12px 12px;
    padding: var(--spacing-double) var(--spacing-base) var(--spacing-base);

    filter: drop-shadow(0 0 2px var(--color-lines));

    @media (max-width: 768px) {
      padding-top: var(--spacing-base);
    }

    code {
      font-size: var(--font-size-small);
      line-height: 1;
      color: var(--color-ink);
    }
  }
}
